@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Space+Grotesk:wght@600&display=swap');

body {
	background-image: url('../pictures/background.jpg');
	
	
}


header {
	width: auto;
	height: 16em;
	border-radius: 1em;
	background-image: url('../pictures/header_ittools.jpg');
	background-size: cover; 
	position: relative;
	box-shadow: 0 0 0 2px #808080;
	margin-bottom: 1%;
	
}

div.header-photo {
	width: 15em;
	height: 15em;
	position: absolute;
	top: 0;
  	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	overflow: auto;
	
	background-image: url('../pictures/photo.jpg');
	background-size: contain;
	background-position: center;
	border-radius: 9em;
	box-shadow: 0 0 0 1px  #808080, 0 0 13px #333;

}

audio {
	width: 100%;
	border-radius: 9em;
	box-shadow: 0 0 0 1px  #808080, 0 0 13px #333;
}

.name {
    padding: 0px 10px;
    text-align: center;
}

.name h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Big Shoulders Stencil Display', cursive;
	color: black;
	font-size: 65pt;
	
}
div.info {
    overflow:hidden;
}

.info > div {
	width: 24%;
	float: left;
	margin-right: 2%;
}

.info > div:first-child{
	background-image: url('../pictures/background2.jpg');
	border-radius: 1em;
	box-shadow: 0 0 0 1px  #808080, 0 0 1px #333;
}

.info > div:last-child {
	width: 74%;
	margin-right: 0%;
}

.icon {
	height: 2em;
	width: 2em;
	margin-left: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.descr h4{
	margin-left: 10px;
	font-family: 'Space Grotesk', sans-serif;

}
table {
	margin-left: 10px;
	border-spacing: 1em;
	margin:auto;
}


.miniTitle h1 {
	text-align: center;
	font-family: 'Big Shoulders Stencil Display', cursive;

}
.Expirience > div {
	width: 49%;
	float: left;
	margin-right: 2%;
}
.Expirience div:first-child{
	background: #eee;
	border-radius: 1em;
	box-shadow: 0 0 0 1px  #808080, 0 0 13px #333;
}
.Expirience >div:last-child{
	width: 49%;
	margin-right: 0%;
}
.Expirience h1 {
	text-align: center;
	font-family: 'Big Shoulders Stencil Display', cursive;
}
.Expirience h3 {
	font-size: 16pt;
	margin-bottom: 0;
	margin-top: 0;
	color: #cd7f32;
	text-decoration: underline;
}
.Expirience h4 {
	margin-bottom: 0;
	margin-top: 0;
	font-style: italic;
	font-size: 14pt;
}
.Expirience h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 10pt;

}

.workicon {
	height: 100px;
	width: 100px;
	margin-left: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 1em;
	box-shadow: 0 0 0 1px  #808080, 0 0 13px #333;
}

.education h1 {
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.education {
    overflow:hidden;
    position: relative;
    width:100%;
    margin: 0 auto;
}

.ed  {
    width:33%;
    float:left;
    text-align: center;
}


.educlogo {
	height: 10em;
	width: 10em;
	margin-left: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 1em;
	box-shadow: 0 0 0 1px  #808080, 0 0 13px #333;
}
.Hobby h1 {
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.Hobby {
    overflow:hidden;
    position: relative;
    width:100%;
    margin: 0 auto;

}
.Hobby ul{
    text-align:center;
}

.Hobby img {max-width:100%; width: auto; height: 25em; }
.Hobby video { max-width:100%; width: auto; height: 25em; }

.hb {
    width:31%;
    float:left;
    text-align: center;
    margin-right: 1%;

}







